<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvidia.tests.graphics.presentationapi">
    <uses-sdk android:targetSdkVersion="16"/>
    <application
            android:label="Presentation API Sample"
            android:hardwareAccelerated="true">
	<!-- The Main application -->
	<activity android:name=".PresentationApiSample"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:configChanges="orientation|keyboardHidden">
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
	</activity>
    </application>
</manifest>
